body {
    margin: 0;
    /* font-family: 'Mukta', sans-serif; */
    /* font-family: 'Changa', sans-serif; */
    /* font-family: 'Ruda', sans-serif; */
    font-family: 'Sarabun', sans-serif;
    background: black;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 3;
    margin: 0;
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 75%);
}

#leftNav {
    margin-left: 40px;
    display: flex;
    align-items: center;
}

#rightNav {
    margin-right: 40px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.navLink {
    margin: 20px;
    font-weight: bold;
    color: white;
    /* text-decoration-thickness: 10px; */
}

.navLink:hover {
    text-decoration: underline;
    text-decoration-thickness: 5px;
}

.homeLink {
    text-decoration: underline;
    text-decoration-thickness: 5px;
}

#menu {
    z-index: 3;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: black;
    text-align: center;
    display: none;
}

.menuLink {
    font-weight: bold;
    font-size: 25px;
    padding: 15px;
}

#menuBtn {
    display: none;
}

#menuBtn:hover, .menuLink:hover, .navLink:hover {
    cursor: pointer;
}

#menuLine1, #menuLine2, #menuLine3 {
    background: #55D6BE;
    content: "";
    display: block;
    height: 6px;
    border-radius: 3px;
    margin: 7px 0;
    transition: 0.5s;
}

.page {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
}

#home, #about {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    bottom: 0;
    overflow-y: auto;
}

#homeText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 60vw;
    /* height: 100%; */
    padding-top: 60px;
    /* overflow-y: auto; */
    position: absolute;
    top: 0;
    bottom: 0; 
    animation: 1s ease-out 0s 1 slideFromLeft;

}

@keyframes slideFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

#aboutText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 60vw;
    /* height: 100%; */
    padding-top: 30px;
    /* overflow-y: auto; */
    position: absolute;
    top: 0; bottom: 0; 
    animation: 1s ease-out 0s 1 slideFromRight;

}

@keyframes slideFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

#home {
    background-image: url('Images/IMG_0621 dark.jpg');
    z-index: 2;
}

#about {
    background-image: url('Images/IMG_0621 dark.jpg');
    text-align: right;
    display: none; 
    justify-content: flex-end;
}

#aboutText {
    right: 60px;
}

p {
    margin: 0;
    padding: 20px;
    color: white;
    font-size: 16px;
}

p:hover {
    cursor: default;
}
#hello {
    font-size: 30px;
    color: black;
}

#titles {
    font-size: 45px;
    color: #55D6BE;
    font-family: 'Ubuntu Mono', monospace;
}

#shortBlurb {

}

#learnMore {
    padding: 20px;
}

.coloredLink {
    color: #7CF0BD;
}

/* .invisible {
    display: none;
} */

h1 {
    text-align: center;
    font-family: 'Syncopate', sans-serif;
    color: #7CEA9C;
    font-size: 70px;
}

h2 {
    text-align: center;
    color: white;
}

h3 {
    text-align: center;
    font-family: 'Ubuntu Mono', monospace;
    color: #7CF0BD;
    font-size: 40px;
    margin-top: 100px;
    margin-bottom: 50px;
    font-weight: normal;
}

#tagline {
    color: #55D6BE;
    font-size: 36px;
    /* font-weight: bold; */
    font-family: 'Ubuntu Mono', monospace;
}

#aboutParagraph {

}

button {
    background-color: rgba(0, 0, 0, 75%);
    border-radius: 20px;
    color: white;
    border: 1px solid white;
    font-size: 16px;
    padding: 10px;
}

button:hover {
    cursor: pointer;
}

/*#0b353b*/
#projects {
    background: linear-gradient(to bottom, black, #15616D);
    /* background-color:#001524; */
    /* background-color: #15616D; */
    background-attachment: fixed;
    display: none;
    flex-direction: column;
}

h6 {
    /* margin: 0 0 10px 0; */
    margin: 20px 20px 0 20px;
    font-size: 24px;
    /* color: #FEF19A; */
    color: #55D6BE;
    font-weight: bold;
    height: 33%;
    display: flex;
    align-items: center;

}

h7 {
    /* margin: 10px 0 0 auto; */
    /* margin-right: 0;
    margin-left: auto; */
    margin: 10px -20px 0;
    /* padding-right: 20px; */
    font-size: 16px;
    color: #55D6BE;
    font-weight: bold;
    /* align-self: right; */
    width: 100%;
    text-align: right;
    /* float: right; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    right: 20px;
    /* align-items: flex-end; */
}

.featuredProjects {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.featuredGroup {
    max-width: 850px;
    display: flex;
    justify-content: center;
    /* margin-right: auto;
    margin-left: auto; */
    margin: 100px auto 200px auto;
    transition-duration: .5s;
    border-radius: 20px;
    /* box-shadow: 0px 1px 5px; */
}

.featuredCard {
    width: 50%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
    transition-duration: .5s;
}

.featuredCardLeft {
    border-radius: 20px 0 0 20px;
}

.featuredCardRight {
    border-radius: 0 20px 20px 0;
}

.featuredInfo {
    width: 50%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.featuredInfoLeft {
    align-items: flex-start;
}

.featuredInfoRight {
    align-items: flex-end;
}

.featuredBtns {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

.featuredDescription {
    z-index: 1;
    width: 105%;
    /* box-shadow: 0px 1px 5px; */
    /* background-color: #001524; */
    /* background-color: #65c0af; */
    background-color: #F6D43C;
    text-align: right;
    height: 33%;
    display: flex;
    align-items: center;
    color: black;
    transition-duration: .5s;
}

.featuredDescriptionLeft {
    text-align: left;
}

.featuredInfoRightBottom {
    height: 33%;
}

.featuredSkills {
    padding: 0;
    color: #7CF0BD;
    margin: 10px 20px 10px 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.leftKeySkill {
    align-items: flex-start;
    margin-left: 20px;
}

.featuredSkill {
    background-color: white;
    border-radius: 20px;
    color: black;
    border: 1px solid white;
    font-size: 14px;
    padding: 7px 14px;

}

.featuredSkillLeft {

    margin: 7px 14px 7px 0px;
}

.featuredSkillRight {
    margin: 7px 0 7px 14px;
}

.featuredLinks {
    /* text-align: left; */
    /* width: auto; */
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* margin-top: 10px; */
    font-size: 14px;
}

.featuredLink {
    margin: 5px;
    width: 125px;
}

#simon, #calc, #memory, #starwars, #smallBusinnessWebsite {
    /* backdrop-filter: ; */
    /* sepia(100%) hue-rotate(135deg) */
}

#simon {
    background-image: url('Images/Simon\ Says\ Game.png');
}

#calc {
    background-image: url('Images/Calculator.png');
}

#memory {
    background-image: url('Images/Memory\ Game.png');
}

#starwars {
    background-image: url('Images/Star\ Wars.png');
}

#smallBusinessWebsite {
    background-image: url('Images/Small\ Business\ Website.png');
}

.liveDemo {

}

.gitHub {

}

#resume {
    text-align: center;
    display: none;
}

iframe {
    /* max-width: 1024px;
    max-height: 1325px; */
    width: 850px;
    min-height: 200px;
    margin-bottom: 20px;
    height: 60vh;
    max-height: 600px;
    /* height: 60vh; */
    /* height: 1100px; */
}

#contact {
    display: none;
    background: orangered;
}

h4 {
    color: white;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 75%);
    border-radius: 50px;
    border: 1px solid white;
    padding: 8px 15px 8px 15px;
    /* display: inline; */
}

h5 {
    margin: 0;
    font-size: 16px;
    color: #15616D;

}

#projectsGrid {
    display: flex;
    max-width: 1200px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: flex-end; */
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.projectGroup {
    width: 35vw;
    /* height: 300px; */
    text-align: center;
    /* margin-top: 50px; */
    max-width: 300px;
    /* background-color: #FEF19A; */
    transition-duration: .5s;
    border-radius: 20px;
    box-shadow: 0px 1px 5px;
    margin: 50px;
    /* height: 85%; */
    background-color: white;
}

.projectCard {
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    transition-duration: .5s;
    border-radius: 20px 20px 0 0;
    /* box-shadow: 0px 1px 5px; */
    background-position: center;
    background-size: cover;
    align-items: center;
    filter: grayscale(100%);
}

.projectBtns {
    display: none;
    /* display: flex; */
    justify-content: space-evenly;
    width: 100%;
    margin-top: 10px;
    font-size: 14px;
}

.projectSkills {
    padding: 0;
    color: rgb(16, 119, 150);
    margin: 10px;
    font-size: 20px;
    /* font-weight: bold; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.skill {
    /* background-color: rgba(0, 0, 0, 75%); */
    background-color: #001524;
    background-color: #F6D43C;
    border-radius: 20px;
    color: black;
    border: 1px solid white;
    font-size: 14px;
    padding: 7px 14px;
    margin: 7px;
}

.projectDescription {
    padding: 0;
    color: black;
    margin: 10px;
}

hr {
    width: 85%;
}

#contactBar {
    display: flex;
    justify-content: center;
}

.contactTab {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

#email {

}

#location {

}

#phone {

}
@media (max-width: 1200px) {
    #projectGrid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 800px) {
    nav {
        display: none;
    }

    #menuBtn {
        position: absolute;
        width: 40px;
        z-index: 4;
        margin: 30px;
        display: block;
    }

    #projectGrid {
        grid-template-columns: 1fr;
    }

    .projectGroup {
        width: 80vw;
    }

    .page {
        padding-left: 20px;
        padding-right: 20px;
    }

    #aboutText {
        right: 20px;
    }

    #leftNav {
        margin-left: 20px;
    }
    
    #rightNav {
        margin-right: 20px;
    }
}

@media (max-width: 500px) {
    #homeText {
        position: static;
    }

    #aboutText {
        width: 75vw;
    }

    h1 {
        font-size: 20px;
        margin-top: 45px;
    }

    h2 {
        font-size: 20px;
    }

    .page {
        padding: 0;
    }

    #aboutText {
        right: 0;
    }

    h4 {
        font-size: 20px;
    }

    .projectDescription {
        font-size: 15px;
    }
}